@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 3px black inset;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.inputs {
    display: flex;
    padding: 4px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 10px;
    font-family: "Indie Flower", cursive;
}

.soma,
.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    background-color: transparent;
    border-radius: 3px;
}

.oper {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    border-radius: 10px;
    display: flex;
    border: 1px #000000 solid;
    padding: 15px;
    font-size: 25px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px black solid;
    border-radius: 5px;
}

button {
    width: 20px;
    height: 20px;
}